.footer{
    grid-area: footer;
    background: linear-gradient(#262626,rgb(49, 80, 4), #262626);
    display: flex;
    
    
}


.conten-form{
    display: flex;
    width: 70%;
    height: auto;
    margin: 15px auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;
    justify-content: center;
	
}

.btn-submit{
	width: 60%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 15px auto;
	background: linear-gradient(rgb(219, 236, 216),rgb(49, 80, 4));
	border: 0;
	outline: none;
	border-radius: 30px;
	color: #262626;
	font-size: 25px;
}

.inpu{
	width: 100%;
	padding:10px 0;
	margin: 15px 0;
    outline: none;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(219, 236, 216);
	background: transparent;
    color: seashell;
    font-size: 15px;

    
} 

.inpu::placeholder { 
    color: rgb(219, 236, 216);  
}

.form h3{
	font-size: 400%;
	color: rgb(219, 236, 216);
}

.copy{
	margin-top: 70px;
	color: rgb(219, 236, 216);
}