.main{
    grid-area: main;
    background: #262626;
    
}
.typed,
.cursor{
    color: rgb(219, 236, 216);
}

.conten{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.left-conten{
    width: 15%;
    text-align: left;
} 
.right-conten{
    width: 15%;
    text-align: right;
}

.right-conten p{
    font-size: 250%;
}

.center-conten img{
    width: 50%;
    box-shadow: -1px 1px 7px 0px black;
    padding: 3%;
    border-radius: 30%;
    transition: all .30s;
}


.center-conten img:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(30, 130, 76, 1);
}



.welcome
h1,
h2,
h3{
    color: rgb(68, 156, 68);
}

.welcome, p{
    color: rgb(219, 236, 216);
}
