.nav-conten{
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0px auto;
    
}

.nav-link{
    color: rgb(68, 156, 68);
    text-decoration: none;
    margin: 0px 10px;
    width: max-content;
    padding: 8px 12px;
    border-radius: 5px;
    
}
.nav-link:hover{
    transition: 0.5s;
    color: #262626;
    background-color: rgba(219, 236, 216, 0.404);
}

.logo{
    width: 70px;
    
}

.toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;

}

.menu{
    display: flex;
    margin-left: 40px;
    list-style: none;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 20px;
  

}

.social{
    display: flex;
    list-style: none;
    line-height: 60px;
    font-size: 23px;
    margin-right: 40px;
}


